@model DAL.Entities.CurrencyType

@{
    ViewData["Title"] = "Видалити";
    ViewData["ErrorMessage"] = TempData["ErrorMessage"];
}

<h1>Видалити валюту</h1>
<hr />
<div class="btn-group btn-group-sm" role="group">
    <input type="submit" form="deleteForm" value="Видалити" class="btn btn-outline-dark" />
    <a class="btn btn-outline-dark" asp-action="Index">Скасувати</a>
</div>
<hr />
<h3>Ви справді хочете видалити валюту?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="Id" />
    </form>
</div>
