@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ заборонено";
}

<header>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center">Ви не маєте доступу до цієї частини сайту. За додатковою інформацію звертайтеся до адміністратора.</p>
</header>
