html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .product-text-area{
      min-height: 21em !important;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar {
    //background-color: #313a46;
}

.logo-img {
    max-height: 42px;
}

.footer {
    z-index: 1000;
    color: #b0b0b0;
}

.chevron-hidden{
    visibility: hidden;
}
.custom-pagination .page-link {
    color: #6c757d;
    border-color: #dee2e6;
}
.custom-pagination .page-item.active .page-link {
    color: #fff;
    border-color: #6c757d;
    background-color: #6c757d;
}

.custom-pagination .page-link:hover {
    color: #6c757d;
}
.custom-pills .nav-link {
    color: #000000;
    border-color: #dee2e6;
}
.custom-pills .nav-item .nav-link.active {
    color: #fff;
    border-color: #6c757d;
    background-color: #6c757d;
}

.footer a {
    color: #f70303;
    text-decoration: none;
    transition: all 0.2s;
}

.footer a:hover, .footer a:focus {
    color: #ab0202;
    text-decoration: underline;
}

.navbar .navbar-admin {
    padding-bottom: 3px;
    padding-top: 3px;
}